
img{
    height: 300px;
    margin-top: auto;
    margin-right: 300px;
    margin-left: 460px;
      
      
}

h1{
    text-align: center;
    color: darkgreen;
}

h2{
    text-align: center;
    color:#690cbc;
}

h3{
    text-align: center;
}